.summary {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 48px;
}

.text {
  font-size: 32px;
  font-weight: 600;
}

.filterSelection {
  margin-top: auto;
  background: var(--purple);
  border-radius: 25px;
  padding: 5px;

  display: flex;
  flex-wrap: wrap;

  transition: 0.4s;
}

.inactive {
  opacity: 0%;
  transform: translateY(10px);
}