.person {
  display: block;
  cursor: pointer;

  font-size: 18px;
  color: var(--deep-purple);
  margin-bottom: 5px;

  padding: 0;
  border: none;
  background: none;
}

.selected {
  color: var(--deep-indigo);
}

.person:hover {
  color: var(--deep-indigo);
}

.person:focus {
  color: var(--deep-indigo);
}